<div style="margin-bottom: 250px;"></div>
<a href="/admin/users">Back</a>
    
        
<div class="card mb-5">
    <div class="card-header">Fearures</div>
    <div class="card-block p-0">
        <table class="table table-bordered table-sm m-0">

            <thead class="">
                <tr>
                    <th>Name</th>
                    <th>Registration Date</th>
                    <th>E-mail address</th>
                    <th>Premium Plan</th>
                    <th>Delete User</th>
                </tr>
            </thead>
            <tbody>
                
                    <form action="">
                    <tr>
                        <td><input type="text" placeholder=" <%= user[0].username %>"> </td>
                        <td><input type="text" placeholder=" September 14, 2013"></td>
                        <td><input type="text" placeholder="jhlilk22@yahoo.com"> </td>
                        <td><input type="text" placeholder="no"> </td>
                        <td><button>Delete</button></td>
                    </tr>
                    </form>
            </tbody>
        </table>
    </div>
</div>