<link rel="stylesheet" href="/resources/css/cssClient/profile/support.css">
<div>
        <div class="row form-group">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="panel panel-primary">
<!-- SUPPORT HEADER -->
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Support
                    </div>
                    <div class="panel-body body-panel">
                        <ul class="chat">
<!-- MESSAGE FOR EACH -->
                            <% message.forEach(function(message){ %>
                            <li class="left clearfix"><span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font"><%= message.message_user %></strong> <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span><%= message.message_date %></small>
                                    </div>
                                    <p>
                                        <%= message.message_text %>
                                    </p>
                                </div>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                    <form action="/JSON/upload/messages" method="POST">
                    <div class="panel-footer clearfix">
                        <textarea name="text" class="form-control" rows="3"></textarea>
                        <span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px">
                            <button class="btn btn-warning btn-lg btn-block" id="btn-chat">Send</button>
                        </span>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    