<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!---************* arrangement by john niro yumang b4.0 alpha project graduation ******************* -->

<!DOCTYPE html>
<html lang="en">
	
    <head>
	<title>index</title>

		<!-- Required meta tags -->
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/resources/css/cssClient/404.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    



	</head>
	<body>
		<div class="wrapper">
			<div class="container-fluid" id="top-container-fluid-nav">
				<div class="container">	
						<div class="jumbotron">
						<h1 class="display-1">4<i class="fa  fa-spin fa-cog fa-3x"></i> 4</h1>
						<h1 class="display-3">ERROR</h1>
						<p class="lower-case">Aw !! webpage not found</p>
						<p class="lower-case">Maybe the page is under maintenance</p>

						</div>

 				</div>
			</div>
  			
				
			
		</div>
 	</body>

