<!DOCTYPE html>
<html lang="en">
<head>
        <!-- <% include ../.././partials/head %> -->
                
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/cssAdmin/adminNav.css">
    <link rel="stylesheet" href="/resources/css/cssAdmin/main.css">
    <title>Buy Shoes Dot Com</title>
</head>
<header>
    <% include ../.././partials/admin/adminNav %>
</header>
<body>
    <main>
        <h1>Welcome Admin</h1>
    </main>
</body>
</html>
<!-- <% include ../.././partials/afterFooter %> -->
<script src="/resources/js/jsAdmin/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

